/* FONTS */
@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2"),
  url("../fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2"),
  url("../fonts/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter18pt-Bold.woff2") format("woff2"),
  url("../fonts/Inter18pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2"),
  url("../fonts/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/* CUSTOM PROPS */
:root {
  --body-bg: #f1f4ff;
  --green: #4dc490;
  --purple: #655af2;
  --red: #f03535;
  --text-color: #000;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1192px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}


.intro-page {
  display: flex;
}

/* HERO */
.hero {
  --text-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 570px;/*
  margin-right: 12px; */
  border-radius: 20px;
  overflow: hidden;
  color: var(--text-color);
}

.hero-main {
flex-grow: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 55px 60px;
background-color: #222;
background-image: url(../img/hero-bg.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}

.hero-badge {
  padding: 5px 15px;
  border: 1px solid var(--text-color);
  margin-bottom: 60px;
  border-radius: 41px;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  /* margin: 0; */
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 46px;
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}

.hero-bottom {
  padding: 28px;
  background-color: var(--green);
  font-size: 19px;
  text-align: center;
}












































/* CONTACT-PAGE-REGISTRATION */
/* .contact-page-registration {
width: 570px;
padding: 55px 60px 40px;
background-color: var(--primary);
border-radius: 20px;
}

.registration-heading {
font-size: 32px;
font-weight: 600;
line-height: 42px;
color: var(--accent-color);
margin-top: 0;
margin-bottom: 79px;
}

.form-fields {
margin-bottom: 63px;
}

.form-group:not(:last-child) {
margin-bottom: 35px;
}

.form-field {
width: 100%;
padding: 0;
padding-bottom: 11px;
border: 0;
border-bottom: 1px solid var(--accent-color);
font-size: 18px;
color: var(--accent-color);
outline-color: #655af2;
outline-offset: 3px;
}

.form-button {
outline-color: #655af2;
outline-offset: 3px;
width: 100%;
font-size: 16px;
font-weight: 600;
padding: 20px 149px;
margin-bottom: 10px;
color: var(--primary);
background-color: #655af2;
border-radius: 10px;
border: 0;
}

.form-button:hover {
background-color: #3a2bf8;
opacity: 0.8;
}

.form-button:active {
opacity: 0.6;
}

.contact-page-terms-heading {
display: flex;
margin: 0;
font-size: 11px;
font-weight: 400;
line-height: 15px;
color: #555;
justify-content: center;
align-items: center;
}

.contact-page-terms-link {
font-weight: 500;
color: #f03535;
outline-color: #f03535;
outline-offset: 3px;
}

.contact-page-terms-link:hover {
opacity: 0.8;
}

.contact-page-terms-link:active {
opacity: 0.6;
} */